<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %} - LabConnect</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="LabConnect RPI Research URP Undergratuate Research Labs Opportunties">
    <meta name="description" content="LabConnect, connecting undergratuates to research opportunties">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Extra Meta Data -->
    {% block meta %}
    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head_css %}
    {% endblock %}

    <!-- JS -->
    {% block head_js %}
    {% endblock %}
    
</head>
<body>
    {% include "flash.html" %}
    {% block content %}
    {% endblock %}
    {% block trailing_js %}
    {% endblock %}
</body>
</html>