{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <h2>Your Recommendations</h2>
    <div class="container">
        <div class="row">
            <div class="col position-card-row">
                <div class="card bg-light text-black position-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quantum Computing
                            <span class="badge bg-primary">Flexible</span>
                            <span class="badge bg-warning">In-Person</span>
                            <span class="badge bg-danger">$40 Per Hour</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Rensselaer Quantum Center</h6>
                        <p class="card-text">
                            "🚀 Exciting Quantum Computing Research Opportunity at Rensselaer Quantum Center! 🌌 Join
                            our
                            cutting-edge projects at the forefront of quantum innovation. Dive into quantum algorithms,
                            hardware
                            development, and quantum information theory with a team of passionate researchers. Immerse
                            yourself in a
                            dynamic environment that fosters curiosity and collaboration. Whether you're an aspiring
                            student or a
                            seasoned quantum enthusiast, this is your chance to be part of the quantum revolution.
                            Unlock the
                            potential of quantum computing with us at Rensselaer Quantum Center – where the future meets
                            quantum
                            possibilities! 🌐✨ #QuantumResearch #InnovationHub #RQCOpportunity"</p>
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-margin">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}