{% extends 'base.html' %}

{% block title %}FILL LATER{% endblock %}

{% block content %}
<main class="container">

    <h1 style="display: flex; justify-content: center;">Posting</h1>

    <form action="/create_post" method="POST">

        <div class="mb-3 posting-alignment">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Your Title Here ...">
        </div>

        <div class="mb-3 posting-alignment">
            <label for="title" class="form-label">Major</label>
            <input type="text" class="form-control" id="title" placeholder="What majors apply for this project ?">
        </div>

        <div class="mb-3 posting-alignment">
            <label for="title" class="form-label">Term</label>
            <select id="termSelection" class="form-select" aria-label="Default select example">
                <option selected>Select Term</option>
                <option value="1">Fall 2023</option>
                <option value="2">Spring 2024</option>
                <option value="3">Summer 2024</option>
            </select>
        </div>

        <div class="mb-3 posting-alignment">
            <label for="title" class="form-label">Deadline</label>
            <input class="form-select" type="date" id="start" name="deadline" value="2023-10-06" />
        </div>

        <div class="mb-3 posting-alignment">
            <label for="title" class="form-label">Grade</label>
            <select id="termSelection" class="form-select" aria-label="Default select example">
                <option selected>What is the lowest grade elevel student that can apply here?</option>
                <option value="1">Freshman</option>
                <option value="2">Sophomore</option>
                <option value="3">Junior</option>
                <option value="4">Senior</option>
                <option value="5">Graduate</option>
            </select>
        </div>

        <div class="mb-3 posting-alignment">
            <label style="display: flex; align-items: start;" for="title" class="form-label">Description</label>
            <textarea style="height: 10rem;" class="form-control" id="title"
                placeholder="What is this project about?"></textarea>
        </div>

        <div class="mb-3 posting-alignment">
            <label style="display: flex; align-items: center;" for="title" class="form-label">Compensation</label>
            <input type="text" class="form-control" id="title"
                placeholder="How many credits and/or dollars does this research provide?">

            <select id="termSelection" class="form-select" aria-label="Default select example">
                <option selected>Is this for credits or pay?</option>
                <option value="1">No Pay</option>
                <option value="2">Paid</option>
                <option value="3">Credits</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</main>
{% endblock %}