@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base CSS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.align-items-center {
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1000; /* Ensure it appears above other content */
}


/* General CSS */

.flex2 {
  @apply flex flex-col;
}

.flexjust {
  @apply flex justify-center;
}

.active-link {
  @apply text-black py-3 border-b-2 border-black text-lg;
}

.normal-link {
  @apply text-gray-600 py-3 text-lg border-black;
}






/* Opportunities CSS */

.btn-job {
  @apply flex align-items-center p-2 rounded-3xl border;
}

.about-role {
  @apply font-extrabold text-3xl;
}

.about-map {
  @apply grid grid-cols-3;
}

.about-head {
  @apply flex flex-col gap-1;
}

.about-title {
  @apply text-gray-500 text-base;
}

.about-description {
  @apply font-extrabold;
}

.filters-template { 
  @apply px-3 overflow-x-scroll max-h-20 flex gap-3;
} 

.filters-search {
  @apply flex gap-2 w-full;
}

.all-filters-btn {
  @apply justify-end w-full;
}

.horizontal-btn {
  @apply flex gap-1 align-items-center p-2 px-2.5 rounded-3xl border;
}

.job-desc-header {
  @apply flex flex-col gap-2;
}

.job-desc-title {
  @apply font-extrabold text-xl;
}

.job-desc-description {
  @apply text-gray-700;
}

.job-details-header {
  @apply w-full col-span-7 border-l border-r p-24 flex flex-col gap-5 shadow-sm;
}

.job-header-header {
  @apply flex flex-col gap-3;
}

.job-header-title {
  @apply font-bold text-5xl;
}

.job-inter-btn {
  @apply flex align-items-center p-2 px-4 rounded-3xl border;
}

.job-post-header {
  @apply p-2 min-h-36 flex gap-3 py-2;
}

.job-post-btn {
  @apply shadow-sm border-b border-b-gray-300;
}

.job-post-title {
  @apply font-black;
}

.job-post-description {
  @apply text-sm;
}

.jobs-header {
  @apply text-2xl font-bold;
}

.jobs-categories {
  @apply text-base flex gap-4 justify-items-center font-semibold;
}

.postsfield-header {
  @apply border-t border-b grid grid-cols-9;
}

.searchbar {
  @apply flex p-2 px-3 border rounded-3xl align-items-center;
}






/* Shared CSS */

.btn-disclosure {
  @apply relative inline-flex items-center justify-center rounded-md p-2 text-gray-400;
}

.blck66 {
  @apply block h-6 w-6;
}

.prof-ring {
  @apply w-min h-min rounded-full ring ring-primary ring-offset-base-100 ring-offset-2;
}

.mainnav {
  @apply mx-auto max-w-7xl px-2;
}

.mainnav-header {
  @apply relative flex h-16 items-center justify-between;
}

.mainnav-desc {
  @apply absolute inset-y-0 left-0 flex items-center;
}

.mainnav-desc2 {
  @apply flex flex-1 items-center justify-center;
}

.mainnav-title-link {
  @apply flex flex-shrink-0 items-center;
}

.mainnav-link {
  @apply rounded-md px-3 py-2 text-sm font-medium no-underline;
}

.btn-disclosure2 {
  @apply block rounded-md px-3 py-2 text-base font-medium text-black no-underline;
}

.pagenav {
  @apply text-base flex gap-4 justify-items-center font-semibold;
}

.opportunitycard {
  @apply card-compact min-h-48 max-h-48 duration-300 w-64 p-1 bg-base-100;
}

.card2-body {
  @apply text-sm font-light p-0 m-0;
}

.avatar1 {
  @apply flex align-items-center gap-3;
}

.avatar-img {
  @apply rounded-full w-12 h-12;
}

.avatar-name {
  @apply text-blue-800 text-base;
}

.avatar-card {
  @apply p-2 border rounded min-w-fit max-w-fit;
}

.profileavatar {
  @apply w-min h-min rounded-full ring ring-primary ring-offset-base-100 ring-offset-2;
}






/* Staff CSS */

.createpost {
  @apply flex justify-center mt-3;
}

.check-input {
  @apply w-full max-w-xs;
}

.creationforms-loading {
  @apply loading loading-spinner loading-lg;
}

.featimage {
  @apply min-w-32 w-96 h-72 bg-base-100 shadow-xl rounded-md overflow-clip;
}

.lg-img-card {
  @apply card-compact w-96 bg-base-100 transition;
}

.lg-txt-card {
  @apply min-h-48 max-h-48 duration-300 card-compact w-56 p-1 bg-base-100;
}

.lg-txt-card-attributes {
  @apply overflow-visible w-fit badge badge-primary;
}

.staff {
  @apply font-bold py-3;
}

.staff-body {
  @apply px-2 grid grid-cols-4;
}

.center {
  @apply pb-10 flex flex-col gap-4;
}

.createpost {
  @apply flex justify-center mt-3;
}